#cards {
    display: grid;
}

.card {
    width: 80%;
    margin: 0 auto 35px;
    height: auto;
    border-radius: 7px;
    display: grid;
    box-shadow: rgba(0, 0, 0, .2) 0 0 8px -2px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.3fr 0.5fr;
    padding-bottom: 30px;
    transition: ease-in-out 300ms;
}

.flags {
    width: 100%;
    height: auto;
    border-radius: 7px 7px 0 0;
}

.country-name {
    font-size: 18px;
    margin: 30px 13% 15px 13%;
}

.countries-details {
    list-style: none;
    margin: 0;
    padding: 0;
}

.countries-details li {
    margin: 3px 0 5px 13%;
    font-size: 14px;
}

.countries-details span {
    font-weight: 600
}

#loading {
    width: 100%;
    padding-top: 50px;
}

#loading .circles {
    padding: 0 50%;
    position: relative;
}

@keyframes dancing {
    from {
        top: -10px;
    }
    to {
        top: 0;
    }
}

#loading .circle {
    position: absolute;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: transparent;
    border: 2px solid #888;
}

#loading .circle:nth-child(1) {
    left: 45%;
    animation: 200ms dancing ease-in-out alternate infinite;
}

#loading .circle:nth-child(2) {
    left: 50%;
    animation: 200ms dancing 200ms ease-in-out alternate infinite;
}

#loading .circle:nth-child(3) {
    left: 55%;
    animation: 200ms dancing 100ms ease-in-out alternate infinite;
}

.nothingFound h1 {
    font-size: 16px;
    margin: 30px 6%;
    font-weight: 300;
}