#form .outerInput {
    width: 100%;
    display: grid;
    position: relative;
    margin-top: 20px;
    grid-template-columns: 5% 1fr;
}

#form .searchInput {
    width: calc(95% - 55px);
    padding-left: 55px;
    height: 40px;
    font-size: 14px;
    grid-column-start: 2;
    border: none;
    border-radius: 5px;
}

#form .searchInput:focus {
    outline: none;
}

#form svg.searchIcon {
    width: 31px;
    height: 18px;
    margin-left: 100%;
    transform: translateX(15px);
    padding-top: 12px;
}