.light-theme{
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
    box-shadow: 0 0 6px -2px #777;
}

.dark-theme{
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
    box-shadow: 0 0 6px -2px #000;
}

.outerInput{
    width: 100%;
    display: grid;
    position: relative;
    margin-top: 20px;
    grid-template-columns: 5% 1fr;
}
.searchInput{
    width: calc(95% - 55px);
    padding-left: 55px;
    height: 40px;
    font-size: 14px;
    grid-column-start: 2;
    border: none;
    border-radius: 5px;
}
.searchInput:focus{
    outline: none;
}
.searchIcon{
    width: 14px;
    margin-left: 100%;
    transform: translateX(24px);
    padding-top: 13px;
    z-index: 1;
}