#details-page {
    margin: 0 5%;
}

.square-element {
    box-shadow: rgba(0, 0, 0, .2) 0 0 8px -2px;
    border-radius: 5px;
}

#button-to-home {
    width: 28vw;
    height: 40px;
    margin: 35px auto;
    display: -webkit-inline-box;
}

#button-to-home p {
    font-size: 14px;
    margin-top: 11px;
    margin-left: 20%;
}

#arrow-back {
    width: 40px;
}

#arrow-back svg {
    width: 17px;
    padding-left: 80%;
    height: 40px;
}

#details-page img {
    width: 100%;
    margin: auto;
    height: auto;
}

#details-page ul {
    list-style: none;
    padding-left: 0%;
}

#details-page .countries-border-row span {
    width: 100%;
}

#details-page .countries-border-row li {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    margin: 5px 10px 5px 0;
}

@media only screen and (min-width: 768px) {
    #button-to-home {
        width: 190px;
    }
    #details-page img {
        width: 120%;
        margin: 0;
        grid-column: 1;
        grid-row: span 2;
    }
    #details-page {
        display: grid;
        grid-template-columns: 30% 30% 30%;
    }
    #details-page a {
        grid-column: span 3;
        grid-row: 1;
    }
    #details-page .first-list {
        margin-left: 10vw;
    }
    #details-page .first-list h1 {
        font-size: 22px;
    }
    #details-page .second-list {
        align-self: center;
        margin-left: 5vw;
    }
    #details-page .countries-border-row {
        grid-column: span 2;
        margin-left: 10vw;
    }
}

@media only screen and (max-width: 450px) {
    #button-to-home {
        width: 45vw;
    }
}